<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Some Website</title>
</head>


<body>

<h1>The site is currently updated</h1>
<p>
The site is currently being updated.
</p>

</body>

</html>
